<!DOCTYPE html>
<html>
<head></head>
<body bgcolor="skyblue" font-color="red">
 
<table border='0' width='480px' cellpadding='5' cellspacing='0' align='center'>
<center><tr>
   <td><h1>Registration Form For Employee</h1></td>
</tr><center>
 
<table style="background-color:white" border='0' width='480px' cellpadding='0' cellspacing='5' align='center' margin-left=5px>
<tr>
    <td align='left'>Name:</td>
    <td><input type='text' name='name'></td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
    <td align='left'>Sir Name:</td>
    <td><input type='text' name='name'></td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
    <td align='left'>Date Of Birth:</td>
    <td><input type='text' name='name'></td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
    <td align='left'>Address:</td>
    <td><input type='text' name='name'></td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
    <td align='left'>Phone:</td>
    <td><input type='text' name='name'></td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
    <td align='left'>Email:</td>
    <td><input type='text' name='name'></td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
    <td align='left'>Zip:</td>
    <td><input type='text' name='zip'></td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<table border='0' cellpadding='0' cellspacing='0' width='480px' align='center'>
<tr>
    <td align='left'><h1><a href="{% url 'relogin' %}"><input type='submit' name='REGISTER' value="register"></a></h1></td>
</tr>
</table>
</table>
 
</table>
</body>
</html>